<ion-view view-title="bhook" class="assertive">
    <ion-content class="has-header" padding="true">
       <!-- <form style="" class="form-horizontal" ng-submit="openModalAuthBook()">-->
        <form style="" class="form-horizontal" ng-submit="openModalAuthBook()">
       
            <label style="" name="addform" class="item item-input" >
            	<i class="icon ion-android-add-circle placeholder-icon"></i>
                <input ng-click="addBook()" ng-model="data.formBookAuthorText" type="text">
            </label>
        </form>
       <!-- 
           <button class="button button-stable button-block " ng-click="testaddBook()">test add book </button>
         <button class="button button-stable button-block " ng-click="resetdb()">reset db  </button>
         
     
            <label style="" class="item item-input label-assertive">

                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="{{ 'search' | translate }}" type="search">
            </label>    -->
            <div style="width: 300px; height: 31px;" class="spacer"></div>
            <ion-item  style="" class="item-divider" translate="latest_books" >Latest from  wishlist</span></ion-item>

          <ion-list>
 
          	<ion-item ng-repeat="book in latestbooks track by $index " style="" >

                <h2 ng-switch on="book.toread">
                    <i class="icon ion-pin placeholder-icon" ng-switch-when="true">
                    </i>
                    <i class="icon ion-checkmark-round placeholder-icon" ng-switch-when="false"></i>
                    {{book.book}}
                </h2>
                <h4>{{book.author_firstname}} {{book.author_lastname}}</h4>
                <h5 style="float:right">{{ 'added_at' | translate }} {{book.added | date : 'dd/MM/yyyy  hh:mm'}}</h5>
            </ion-item>
            <ion-infinite-scroll ng-if="!end" immediate-check="false"
                on-infinite="loadMore()"
                distance="25%">
              </ion-infinite-scroll>

        </ion-list>

    </ion-content>
</ion-view>
