<ion-view view-title="bhook - {{ 'login' | translate }}">
 <ion-content class="has-header" padding="true">
        <div ng-show="loginen">
                <div class="card">

                <div class="item item-text-wrap">
                    <p>
                       By login to facebook, you'll be able topost your book reviews or requests and share those with your friends
                    </p>
                   
                </div>

                
              </div>
            
        </div>
        <div ng-show="loginfr">
            <div class="card">

                               <div class="item item-text-wrap">
                    <p>
                       En vous connectant à Facebook vous pourrez partager vos critiques de livres et partager vos demandes avec vos amis
                    </p>
                   
                </div>

             
                </div>
            </div>

        </div>
 
    <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">{{ 'login with Facebook' | translate }}</a>
    
    <a class="button button-block" ng-click="showLogOutMenu()">{{ 'logout fromf Facebook' | translate }}</a>
  </ion-content>
</ion-view>
