<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{ 'share on facebook' | translate }}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeShareModal()">{{ 'close' | translate }}</button>
    </div>
  </ion-header-bar>
  <ion-content >
    <h2> {{book.book}}</h2> 
    <h4>{{book.author_firstname}} {{book.author_lastname}}</h4>
    <p class=".m-l-1">
     {{ 'share sentence' | translate }} "{{submitData.book}}"" {{ 'by' | translate }} {{submitData.author_firstname}} {{submitData.author_lastname}}
    </p>
    <p>
    {{ 'what i say about it' | translate }}
      {{submitData.comment}}
    </p>
 
    <button class="button button-block button-positive" type="submit" ng-click="sendItemtoFacebook()" >{{ 'share' | translate }}</button>
  </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>