/* Empty. Add your own CSS if you like */

.alphabetlist h2{
  padding-bottom : 0.2em;
}

.alphabetlist:first-letter {

  font-size: 130%;
}


/*override button background color in header bar, - didn't manage to do it in sass*/
.button-energized{
  color : #000000 !important ;
}


  /* rating stars from /lib/ionic-rating */
ul.rating{
  color:#15aff4 !important ;
  padding: 10px;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(1,1,1,1);
}
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}
/*end ionic rating*/



/* modal to show commentaries (limited to half the page) */
.modalshowcomment{
  bottom: 0;  
  min-height: initial;
  top: initial;
  height: 50%;
  width: 90%; 
}
    

